<!-- ***** About Us Page ***** -->
<div class="page-heading-<%= headingKey %>">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Radio City Musical Hall</h2>
        <span>September 24-28, 2021 in Rio de Janeiro</span>
      </div>
    </div>
  </div>
</div>