<!-- ***** About Us Page ***** -->
<div class="page-heading-<%= headingKey %>">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2><%= heading %></h2>
        <span><%= subHeading %></span>
      </div>
    </div>
    <% if (headingKey === "error") { %>
    <br />
    <br />
      <%- include("button-home") %>
    <% } %>
  </div>
</div>