<!DOCTYPE html>
<html lang="en">
    <%- include('../shared/head') %>

    <body>
        <!-- ***** Preloader Start ***** -->
        <%- include('../shared/preloader') %>
        <!-- ***** Preloader End ***** -->

        <!-- ***** Pre Header ***** -->
        <div class="pre-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <span>Hey! The Show is Starting in 15 Days.</span>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="text-button">
                            <a href="/rent-venue"
                                >Contact Us Now!
                                <i class="fa fa-arrow-right"></i
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ***** Header Area Start ***** -->

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/" class="logo"
                        >Art<em>Fabric</em></a
                    >
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start class active? ***** -->
                    <ul class="nav">
                        <li >
                            <a href="/">Home</a>
                        </li>
                        <li><a href="/about">About Us</a></li>
                        <li>
                            <a href="/rent-venue">Rent Venue</a>
                        </li>
                        <li>
                            <a href="/shows-events"
                                >Shows & Events</a
                            >
                        </li>
                        <li><a href="/tickets">Tickets</a></li>
                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>