<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner">
  <div class="counter-content">
    <ul>
      <li>Days<span id="days"></span></li>
      <li>Hours<span id="hours"></span></li>
      <li>Minutes<span id="minutes"></span></li>
      <li>Seconds<span id="seconds"></span></li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-content">
          <div class="next-show">
            <i class="fa fa-arrow-up"></i>
            <span>Next Show</span>
          </div>
          <h6>Opening on Thursday, March 31st</h6>
          <h2>The Sunny Hill Festival 2022</h2>
          <div class="main-white-button">
            <a href="/ticket-details">Purchase Tickets</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** Main Banner Area End ***** -->