<!-- *** Owl Carousel Items ***-->
<div class="shows-events-carousel">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-shows-events owl-carousel">
          <div class="item">
            <a href="/"><img src="/images/shows-events-01.jpg" alt=""></a>
          </div>
          <div class="item">
            <a href="/"><img src="/images/shows-events-02.jpg" alt=""></a>
          </div>
          <div class="item">
            <a href="/"><img src="/images/shows-events-03.jpg" alt=""></a>
          </div>
          <div class="item">
            <a href="/"><img src="/images/shows-events-04.jpg" alt=""></a>
          </div>
          <div class="item">
            <a href="/"><img src="/images/shows-events-01.jpg" alt=""></a>
          </div>
          <div class="item">
            <a href="/"><img src="/images/shows-events-02.jpg" alt=""></a>
          </div>
          <div class="item">
            <a href="/"><img src="/images/shows-events-03.jpg" alt=""></a>
          </div>
          <div class="item">
            <a href="/"><img src="/images/shows-events-04.jpg" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>